:root {
    --color-fondo: #f4f4f4;
    --color-fondo-contenedor: #fff;
    --color-texto: #555;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--color-fondo);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: background-color 0.5s;
}

.contenedor {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

button {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
    margin: 5px;
}

.rojo {
    background-color: red;
}

.azul {
    background-color: blue;
}

.verde {
    background-color: green;
}

.restablecer {
    background-color: gray;
}

button:hover {
    opacity: 0.8;
}
