body {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    background-color: #f4e5f3;
    color: #333;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
}

#catGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cat-card {
    background-color: #efcdcd;
    padding: 15px; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
    text-align: center;
    width: 200px; 
}
.cat-image {
    width: 200px; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 8px; 
}
.cat-details {
    background-color: #efcdcd;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px; 
    margin: 20px auto;
    text-align: left;
}

.cat-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #efcdcd;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 20px auto;
    text-align: left;
}

.cat-container .cat-image {
    width: 150px; 
    height: auto;
    border-radius: 8px;
    margin-right: 15px;
}

.cat-container .cat-details {
    flex: 1;
}

button {
    background-color: #d98bb3; 
    color: white;              
    border: none;              
    border-radius: 5px;       
    padding: 10px 15px;       
    cursor: pointer;           
    transition: background-color 0.3s; 
}

button:hover {
    background-color: #bc6592; 
}
