:root {
    --color-primary: #8B374A;
    --color-secondary: #D71F27;
    --color-background: #FFFFFFE6;
    --color-text: #350909;
    --color-hover: #66b090;
    --border-radius: 8px;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    --padding-small: 8px;
    --padding-medium: 16px;
    --padding-large: 20px;
    --font-size-small: 0.9em;
    --font-size-medium: 1.2em;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'DM Serif Display', serif;
}

header {
    background-color: var(--color-background);
    position: sticky;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
}

nav {
    display: flex;
    justify-content: center;
    padding-right: var(--padding-large);
}

.logo {
    height: 70px;
    display: flex;
    padding-left: var(--padding-small);
}

.logo-image { 
    align-self: center;
    height: 60%;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
}

ul li {
    display: inline-block;
    padding: var(--padding-large);
}

ul li:hover a {
    color: #000000;
}

a {
    text-decoration: none;
}

.navigation-link {
    color: var(--color-primary);
    margin-left: var(--padding-medium);
    font-weight: bold;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 250px;
    z-index: 90;
    top: 90%;
    padding: 0;
    box-shadow: 2px 2px 5px 0 gray;
    border-radius: var(--border-radius);
}

li:hover .submenu {
    display: block;
}

.submenu li {
    text-align: left;
    padding: 0;
    display: block;
    padding: var(--padding-small);
}

.submenu li:hover {
    background: rgb(230, 229, 229);
}

.hero-container {
    width: 100vw;
    height: auto;
    overflow: hidden;
}

.hero-img {
    width: 100%;
}

.hero-img img {
    width: 100%;
    height: auto;
    display: block;
}

.mission-vision-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 20px; 
    padding: var(--padding-medium);
}

.mission-vision-card {
    background-color: #fff;
    border: 2px solid #000;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.mission-vision-img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.contenido {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding: var(--padding-medium);
    height: 30%; 
    box-sizing: border-box; 
}

.titulo {
    font-size: var(--font-size-medium);
    margin: 0 0 10px;
    text-align: center; 
}

.descripcion {
    font-size: var(--font-size-small);
    color: var(--color-text);
    margin: 0 0 10px;
    text-align: left; 
}

.boton {
    display: inline-block;
    padding: var(--padding-small) var(--padding-medium);
    font-size: var(--font-size-small);
    color: #fff;
    background-color: var(--color-primary);
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    text-align: center; 
}

.boton:hover {
    background-color: var(--color-hover);
}
